<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>RDFEncoderService</servlet-name>
		<servlet-class>com.icmwind.gui.web.server.RDFEncoderServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RDFEncoderService</servlet-name>
		<url-pattern>/com.icmwind.gui.web.home/RDFEncoderService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>com.icmwind.gui.web.server.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/uploadme</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>eServlet</servlet-name>
		<servlet-class>com.icmwind.gui.web.server.E1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eServlet</servlet-name>
		<url-pattern>/eserv</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>GlobalInitializerService</servlet-name>
		<servlet-class>com.icmwind.gui.web.server.services.GlobalInitializerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GlobalInitializerService</servlet-name>
		<url-pattern>/com.icmwind.gui.web.home/GlobalInitializerService</url-pattern>
	</servlet-mapping>

</web-app>
