#--- System Settings ---#

# Path of Data File i.e. *.csv
DATA_FILE = data/TestData.csv

# Path of Core Ontology file i.e. *.owl
CORE_ONTOLOGY = data/WindTurbineOnto.owl



#--- GSE Settings ---#

# Path to Global Semantic Environment(GSE) Config File i.e. *.isrealomsconfig
GSE_CONFIG = gse_config/sab_2011.isrealomsconfig



#--- Encoding Settings ---#

# Path to German-English Dictionary
GER2ENG_DICTIONARY = conf/ger2engDictionary.properties

  