CS_Drive = CS_1000
CS_Flow = CS_1000
ISO_14 = CS_1000
ISO_4 = CS_1000
ISO_6 = CS_1000
CSM_ON = CS_1000
MCS_A = MCS_1000
MCS_B = MCS_1000
MCS_C = MCS_1000
MCS_D = MCS_1000
MCS_E = MCS_1000
MCS_F = MCS_1000
MCS_Temp = MCS_1000
HLB_S = HYDAC_Lab
HLB_DK = HYDAC_Lab
HLB_Temp = HYDAC_Lab
VLGW_dP = VL_GW
VLGW_P = VL_GW
P_In = HDA_In
P_Saug = HDA_Saug
T_Out = ETS_Out
T_In = ETS_In
T_Air = TOSS_Temperature_Sensor
Speed = Pulsotronic_9000